{% extends 'base.html' %}

{% block content %}

    <div>
    <h1><b>Signup</b></h1><br>
    
    {% for message in messages %}
        <h3> {{message}}</h3>
    {% endfor %}

    <form class="site-form" action="http://127.0.0.1:8000/accounts/signup/" method="POST">
        {% csrf_token %}
        <label for="username">User Name⠀⠀⠀⠀⠀⠀</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="email">Email id⠀⠀⠀⠀⠀⠀⠀⠀</label>
        <input type="email" id="email" class="m" name="email"><br><br>

        <label for="password">Password⠀⠀⠀⠀⠀⠀⠀</label>
        <input type="password" id="password" class="m" name="password"><br><br>
        
        <label for="pwd2">Confirm Password</label>
        <input type="password" id="password2" class="m" name="password2"><br><br>

        <input type="submit" value="Signup"></input>
    </form>

</div>

{% endblock %}